@page
@model DrexlerMacaspac.Pages.IndexModel
@{
    ViewData["Title"] = "Population Data";
}

<h1>Population Data</h1>

@if (Model.PopulationRecords != null && Model.PopulationRecords.Count > 0)
{
    <ul>
        @foreach (var record in Model.PopulationRecords)
        {
            <li>
                <div style="display: flex; align-items: center;">
                    <div style="margin-left: 15px;">
                        <strong>@record.Year</strong> <br />
                        Population: @record.Population <br />
                        Nation: @record.Nation <br />
                        <a href="https://www.census.gov/programs-surveys/acs/" target="_blank">Source</a>
                    </div>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>No population data available.</p>
}
